/* PAGINA contacto */

.titulo-contactanos {
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  color: $primary-color;
}
.contact_form {
  display: block;
  text-align: center;
}
.boton-contacto {
  margin-bottom: 20px;
  margin-top: 20px;
}
